<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title>{%block title%}{%endblock%}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content = "text/html; charset = UTF-8">
		<link href="{%static 'css/styles.css'%}" rel="stylesheet">
		{%block styles%}{%endblock%}
		<a href="/"><img src="{%static 'images\logo2.png'%}" alt="logo" class="col-sm-5" height = "60px";></a>
	</head>
	<body>
		<header>{%block header%}{%endblock%}</header>
        <div>{%block global%}{% endblock %}</div>
		<footer>{% block footer %} {%endblock%}</footer>
	</body>
</html>