{%extends 'vk/base_extended.html'%}
{% load staticfiles %}
<html lang="en">
{% block menu %}
    {%include 'vk/user_menu.html' with status="login" parent="news" only%}
{%endblock%}
{% block content %}
    <div class ="panel panel-default">
        <div class="wrapper container" >
			<div class = "wall">
				<div class="panel-heading"><h2>Новости</h2></div>
				<ul class="list-group">
					{% for p in posts %}
                        <div class="post">
                            {%include 'vk/post.html' with post_info=p user_id=user_id only%}
                        </div>
                    {% endfor %}
				</ul>
			 </div>
		</div>
	</div>
{% endblock %}