{% extends 'vk/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

{% block title%}
Notification
{% endblock %}

{%  block styles %}
<style>
	body
	{
		background-size: 100% 100%;
        background-image: url({%static '../../../media/images/main_background.jpg' %})
    }
	</style>
{%endblock%}

{% block content %}
    <div class="big-container">
            <section class="content">
                <div class="jumbotron jumbotron-fluid text-center">
                        <h1 class="display-3">{{  hdr }}</h1>
                        <p class="lead">{{  message }}</p>
                </div>
            <a class="center-block" href= "/home/">
                <button class="btn longbutton">На главную-></button>
            </a>
            </section>
        </div>
    </div>
{% endblock %}

</html>