 {% if status == "none"%}
    {% url 'query_add_to_friends' other_p_id=profile_id as the_url %}
     <div>
         <a class="button_container" href="{{the_url}}">
             <button class="btn colorbutton center-block">Добавить в друзья</button>
         </a>
     </div>
  {% endif%}

 {%if status == "master"%}
    {% url 'query_add_to_friends' other_p_id=profile_id as the_url %}
    <h4>Этот пользователь подписан на вас</h4>
    <div>
        <a class="button_container" href="{{the_url}}">
            <button class="btn colorbutton center-block">Одобрить заявку</button>
        </a>
    </div>
  {% endif%}

 {% if status == "follower"%}
     {% url 'query_delete_from_friends' other_p_id=profile_id as the_url %}
     <h4>Вы отправили заявку в друзья этому пользователю</h4>
     <div>
        <a class="button_container" href="{{the_url}}">
            <button class="btn colorbutton center-block">Отозвать заявку</button>
        </a>
    </div>
  {% endif%}

 {% if status == "friends"%}
      {% url 'query_delete_from_friends' other_p_id=profile_id as the_url %}
      <h4>Этот пользователь находится у вас в друзьях</h4>
      <div>
        <a class="button_container" href="{{the_url}}">
            <button class="btn colorbutton center-block">Убрать из друзей</button>
        </a>
    </div>
 {% endif%}
