 {% if relationship == "none" or relationship == "master" %}
    {% url 'query_add_to_friends' other_p_id=profile_id as the_url %}
    {{ button_text }} = "Добавить в друзья"
    {{ caption }} = ""
 {%elif relationship == master%}
    {% url 'query_add_to_friends' other_p_id=profile_id as the_url %}
    {{ button_text }} = "Добавить в друзья"
    {{ caption }} = "Этот пользователь подписан на вас"
 {% elif relationship == "follower"%}
     {% url 'query_delete_from_friends' other_p_id=profile_id as the_url %}
     {{ caption }} = "Вы отправили заявку в друзья этому пользователю"
     {{ button_text }} = "Отозвать заявку"
 {% elif relationship == "friends"%}
      {% url 'query_delete_from_friends' other_p_id=profile_id as the_url %}
      {{ caption }} = "Этот пользователь находится у вас в друзьях"
      {{ button_text }} = "Убрать из друзей"
 {% endif%}
<div>
    <h4>{{ caption }}</h4>
    <a class="button_container" href="{{the_url}}">
        <button class="btn colorbutton center-block">Добавить в друзья</button>
    </a>
</div>